<%- include('partials/header') %>
<div class="pb-2 mt-2 mb-4 border-bottom"><h3>会员列表</h3></div>
<table class="table table-striped">
  <thead>
    <tr><th>#</th><th>姓名</th><th>账号</th><th>场上位置</th><th>加入时间</th></tr>
  </thead>
  <tbody>
    <% members.forEach((m, i) => { %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= m.name %></td>
        <td><%= m.email %></td>
        <td><%= m.position %></td>
        <td><%= m.joined %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
<%- include('partials/footer') %>
